.card{
  padding: 20px ;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: url(../../../assets/code.png), auto;
}

.card{
  animation: aparecer 4s forwards;
  transition: 1s all ease;
}



.card--icon{
  width: 80px;
  transition: 1s all ease;
}



.card--description{
 font-size: 18px;
 transition: 2s all ease;
}
.card:hover{
  padding: 10px ;
  .card--icon{
    width: 100px;
  }
  .card--description{
    font-size: 21px;
  }
}


@media only screen and (max-width: 768px) and (hover: none){
 
}