<div class="about" >
  <div class="about--info">
    <div class="about--info--area">
      <p class="about--title"><span [ngStyle]="{'color': '#fff'}">About </span> Me </p>
      <p class="about--text">Hello! I'm a Professional Web Developer passionate about crafting innovative and functional solutions. 
        Hailing from Brazil, I embarked on my software development journey in 2020, and since then, I've been immersed 
        in the world of technology. 
      </p> 
      <p class="about--text">
        In 2020, I enrolled in a course where I learned to build a scheduling application using modern technologies 
        like ReactJS, NodeJS, and MongoDB. This was just the beginning of an exciting journey where I dove headfirst
        into the realm of software development.
      </p> 
    </div>
    <div class="image--me"></div>
    
  </div>
</div>

<div class="about--do" >
  <p class="about--title"><span [ngStyle]="{'color': '#fff'}">What I </span>  do. </p>
  <div class="do--list">
    <div *ngFor="let item of doItens">
      <app-simple-card [item]="item"></app-simple-card>
    </div>
  </div>
</div>