.about{
  display: flex;
  align-items: flex-start;
  padding-top: 100px;
  justify-content: center;
  height: auto;
}

.about--do{
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.002) 30%, rgba(0, 195, 255, 0.725) 150%);
}
a{
color: #fff;
}
.about--info{
  width: 70%;

  display: flex;
  align-items: center;
  border-radius: 30px;
  animation:  esquerdaCentro 0.5s forwards;
}
.about--text{
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 1.5em;
  line-height: 1.5em; 
}
.about--info--area{
  display: flex;
  padding-right: 100px;
  flex-direction: column;
  flex: 1;
}
.image--me {
  width: 30%;
  border-radius: 30px;
  height: 450px;
  background-image: url(../../../assets/maria.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 90px 90px #151515;
}

.about--title{
  color: #00C2FF;
  font-size: 40px;
  animation: corAzul 4s;
  padding-bottom: 20px;
}
.table--coluna{
  border-radius:30px;
}
.do--list{
  display:flex;
  width: 100%;
  justify-content: space-around;
}

@media (max-width: 1024px) {
  .about--info{
    width: 90%;
  }
  .image--me{
    width: 40%;
  }
  .about--title{
    font-size:30px;
  }

  .about--info--area{
    padding-right:10px;
  }
}
@media (max-width: 900px) {
  .do--list{
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 650px) {
  .about{
    height: auto;
    padding: 30px 0;

  }
  .about--title{
    font-size:26px;
    align-self: center;
  }
  .about--info{
    padding: 10px;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .about--info--area{
    padding-right:10px;
    margin-top: 90px;
  }
  .image--me{
    width: 300px;
    margin-top: 60px;
  }
}