.ball{
  width: 20px; 
  height: 20px; 
  background-color: transparent; 
  border-radius: 50%; 
  margin: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.card{
  display: grid;
  width: 100%;
}
.icon{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content:center;
}
.card-function{
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 1s ease, max-height 1s ease;
}

.icon-down{
  display: flex;
}


.card-left{
  display: flex;
  max-width: 500px;
  justify-self: flex-end;
  animation:  esquerdaCentro 1s forwards;
  cursor: url(../../../assets/code.png), auto;

}

.card-right{
  display: flex;
  max-width: 500px;
  justify-self: flex-start;
  animation:  direitaCentro 1s forwards;
  cursor: url(../../../assets/code.png), auto;

}

.card-content{
  padding: 30px;
  transition: all 3s ease-in-out;
}
.card-content:hover .card-function {
  opacity: 1;
  max-height: 700px; /* Ajuste a altura máxima conforme necessário */
}

.card-content:hover .icon-down {
  display: none;
}




h1, h3{
  font-weight: bold;
}

span{
  font-size: larger;

}

p{
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: -3px;
}

li{
  font-size: 15px;
  list-style: none;
  margin-left: 20px;
  line-height: 25px;
}


@media only screen and (max-width: 700px) {
  .card{
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
 
  
}

@media only screen and (max-width: 800px) {
  .ball{
    display: none;
  }
  .card{
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
  .card-left{
    max-width: 100%;
    width: 100%;
  }
  
  .card-right{
    max-width: 100%;
    width: 100%;
  }
}

/* Dispositivos extra grandes (desktops maiores, 1400px e acima) */
@media only screen and (min-width: 1400px) {

  
}