<div class="card ">
  <div  [class]="dataInfo.side == 'left' ? 'card-left' : 'card-right'">
    <div class="ball" *ngIf="dataInfo.side == 'left'" [style]="'border: 2px solid '+ dataInfo.color" >
    </div>
    <div class="card-content" [style]="'background-color: '+ dataInfo.color" >
      <h1>{{dataInfo.ano}}</h1>
      <h3>{{dataInfo.empresa}}</h3>
      <span>{{dataInfo.funcao}}</span>
      <div class="icon icon-down"><mat-icon>keyboard_arrow_down</mat-icon></div>
      
      <div class="card-function">
        <p>Atribuições:</p>
        <ul>
          <li *ngFor="let item of dataInfo.atribuicoes">{{item}}</li>
        </ul>
        <div class="icon "><mat-icon>keyboard_arrow_up</mat-icon></div>
      </div>

    </div>
  
    <div *ngIf="dataInfo.side == 'right'" class="ball" [style]="'border: 2px solid '+ dataInfo.color" >
    </div>
  </div>

</div>

