<div class="card ">
  <div  [class]="dataInfo.side == 'left' ? 'card-left' : 'card-right'">
    <div class="ball" *ngIf="dataInfo.side == 'left'" [style]="'border: 2px solid '+ dataInfo.color" >
    </div>
    <div class="card-content" [style]="'background-color: '+ dataInfo.color" >
      <h1>{{dataInfo.ano}}</h1>
      <h3>{{dataInfo.empresa}}</h3>
      <span>{{dataInfo.funcao}}</span>
     
      
      <div class="card-function" *ngIf="showCardFunction">
        <p>Atribuições:</p>
        <ul>
          <li *ngFor="let item of dataInfo.atribuicoes">{{item}}</li>
        </ul>
      </div>
      <div class="icon-area" (click)="toggleCardFunction()"><mat-icon >{{!showCardFunction ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon></div>
    </div>
 
    <div *ngIf="dataInfo.side == 'right'" class="ball" [style]="'border: 2px solid '+ dataInfo.color" >
    </div>
  </div>
</div>