.ball{
  width: 20px; 
  height: 20px; 
  background-color: transparent; 
  border-radius: 50%; 
  margin: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.card{
  display: grid;
  width: 100%;

}

.card-left{
  display: flex;
  max-width: 500px;
  justify-self: flex-end;
}

.card-right{
  display: flex;
  max-width: 500px;
  justify-self: flex-start;
}

.card-content{
  padding: 30px;
}

h1, h3{
  font-weight: bold;
}

span{
  font-size: larger;

}

p{
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: -3px;
}

li{
  font-size: 15px;
  list-style: none;
  margin-left: 20px;
  line-height: 25px;
}


@media only screen and (max-width: 700px) {
  .card{
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
  .ball{
    display: none;
  }
}

@media only screen and (max-width: 1100px) {
  
}

/* Dispositivos extra grandes (desktops maiores, 1400px e acima) */
@media only screen and (min-width: 1400px) {

  
}